<div class="row">
  <div class="col-md-12">
    <%= link_to '', admin_codes_path, class: 'btn btn-primary btn-fab btn-raised mdi-content-reply pull-right' %>
    <h1><i class="fa fa-ticket"></i> New Multi <%= "#{t('admin.codes')}" %></h1>
    <hr>
  </div>
</div>
<%= form_for(@code, url: admin_multi_codes_path, method: :post) do |f| %>
  <% if @code.errors.any? %>
        <div id="error_explanation">
            <h2><%= pluralize(@code.errors.count, 'error') %> prohibited this multi code from being saved:</h2>

            <ul>
                <% @code.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                <% end %>
            </ul>
        </div>
    <% end %>
    <%= render partial: 'form', locals: { f: f } %>
<% end %>

