<div class="row">
  <div class="col-md-12">
    <%= link_to '', admin_discounts_path, class: 'btn btn-primary btn-fab btn-raised mdi-content-reply pull-right' %>
    <h1><i class="fa fa-ticket"></i> Add New Discount Code</h1>
    <hr>
  </div>
</div>

<%= form_for(@discount_code, url: admin_discounts_path) do |f| %>
    <% if @discount_code.errors.any? %>
        <div id="error_explanation">
            <h2><%= pluralize(@discount_code.errors.count, 'error') %> prohibited this discount code from being saved:</h2>

            <ul>
                <% @discount_code.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                <% end %>
            </ul>
        </div>
    <% end %>
    <%= render partial: 'form', locals: { f: f } %>
<% end %>
